*, body, html {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    text-align: center;
    align-items: center;
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: 
        font-size 0.7s,
        flex 0.7s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/*  Images for panels  */

.panel1 {
    background-image: url('../img/beach.svg');
}
.panel2 {
    background-image: url('../img/book.svg');
}
.panel3 {
    background-image: url('../img/fall.svg');
}
.panel4 {
    background-image: url('../img/hangout.svg');
}
.panel5 {
    background-image: url('../img/trip.svg');
}

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.3s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
    font-size: 1em;
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
    font-size: 1em;
}

.panel p {
    font-size: 2em;
    color: darkturquoise;
}

.panel.open {
    font-size: 40px;
    flex: 5;
}